$backgroundColor: #00308F;
$color:  whitesmoke;

footer {
  background: $backgroundColor;
  border-top: 1px solid #eee;
  padding: 1em 3em;
  margin: 0;
  background-color: $backgroundColor;
  color: $color;
 
}

